@using Microsoft.AspNetCore.Http;

@{
    int? userid = Context.Session.GetInt32(SD.KeyUser);
    int? roleid = Context.Session.GetInt32(SD.KeyRole);

    string? username = Context.Session.GetString(SD.KeyName);
    string? userGender = Context.Session.GetString(SD.KeyGender);
    string? userDob = Context.Session.GetString(SD.KeyDob);
    string? userDate = Context.Session.GetString(SD.KeyDob);
    string? userEmail = Context.Session.GetString(SD.KeyEmail);
    string? userCountry = Context.Session.GetString(SD.KeyCountry);
    string? userDistict = Context.Session.GetString(SD.KeyDistrict);
    string? userState = Context.Session.GetString(SD.KeyState);
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["title"] </title>
   
    <!-- ✅ Keep ONLY Bootstrap 3.x from Gentelella -->
    <link href="~/gentela-pages/Page1/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/gentela-pages/Page1/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/build/css/custom.min.css" rel="stylesheet">
    <link href="~/css/adminhomepagecss/adminhomepage.css" rel="stylesheet" />
    <!-- Optional icons / toastr -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">

    <!-- Datatables -->
    <link href="~/gentela-pages/Page1/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Kannada:wght@400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Select2 -->
    <link href="~/gentela-pages/Page1/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/gentela-pages/Page1/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/gentela-pages/Page1/vendors/starrr/dist/starrr.css" rel="stylesheet">

    <!-- Yuvanidhi Application Register css Link -->

    <link href="~/css/adminhomepagecss/yuvanidhiappplicationcss.css" rel="stylesheet" asp-append-version="true" />

</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container" style="background-color:#0171ae">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view" style="background-color:#0171ae">
                    <div class="navbar nav_title" style="border: 0; background-color:#54b8e3;">
                        <a asp-controller="Admin" asp-action="Index" class="site_title"><i class="fa fa-paw"></i> <span style="color:#FFFFFF">Menu</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">

                            <ul class="nav side-menu">
                                <li>
                                    <a asp-controller="Admin" asp-action="Index" style="color:#FFFFFF"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a style="color:#FFFFFF"><i class="fa fa-users"></i> Manage Profile <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li style="color:#FFFFFF!important"><a asp-controller="Admin" asp-action="ViewProfile">View Profile(Admin)</a></li>
                                        <li style="color:#FFFFFF"><a asp-controller="Admin" asp-action="EditProfile">Edit Profile(Admin)</a></li>
                                        <li style="color:#FFFFFF"><a asp-controller="Admin" asp-action="NewPassword">Change Password</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fi fi-ss-dice-d12"></i>  Registrations<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Admin" asp-action="Role">   Role Registration </a></li>

                                        <li><a asp-controller="Admin" asp-action="PersonalDetails"> Personal Details Registration </a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Register Lists <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Admin" asp-action="RoleList">Role List</a></li>
                                        <li><a asp-controller="Admin" asp-action="PeronalDetails_List">Personal Details List</a></li>
                                        <li><a asp-controller="Admin" asp-action="YuvanidhiApplicationList">Yuvanidhi Application List</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a style="color:#FFFFFF"><i class="fa fa-cogs"></i> Apply for services <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Admin" asp-action="ApplyServices">Services</a></li>

                                    </ul>
                                </li>


                                <li>
                                    <a><i class="fa fa-windows"></i> Voice Clone <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Admin" asp-action="RecordVoice">Voice Record</a></li> 
                                        <li><a asp-controller="Admin" asp-action="VoiceList">Voice List</a></li>

                                    </ul>
                                </li>


                                
                            </ul>

                        </div> 

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" asp-controller="Login" asp-action="Index">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu" style="background-color:#0171ae;height:50px">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars" style="color:ghostwhite"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right" style="color:white!important">

                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle " style="color:white!important" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/gentela-pages/Page1/production/images/img.jpg" alt="">@username
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a asp-controller="Login" asp-action="Index"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/gentela-pages/Page1/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/gentela-pages/Page1/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/gentela-pages/Page1/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/gentela-pages/Page1/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown tasks-menu px-lg-2">
                                <div align="center" style="background-color: white;border:3px solid red; margin-bottom:7px ;margin-top:0px;margin-right:40px" class="px-lg-2">
                                    <p for="sessionTimer" style="color: red; font-size: 18px;">
                                        <label id="sessionTimerValue" style="color: black;margin-left:6px">15</label>
                                        <lable style="color: black;">&nbsp;&nbsp;:&nbsp;</lable>
                                        <label id="secondsTimer" style="color: red;">00</label>
                                        <lable style="color: black;">&nbsp;&nbsp;</lable>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            @RenderBody()
            <!-- footer content -->
            <footer style="background-color:#004b80; color:white; text-align:center; padding:20px 0; border-top:2px solid #ccc;">
                <div style="display:flex; justify-content:center; align-items:center; gap:40px; flex-wrap:wrap; margin-bottom:15px;">
                    <img src="~/Photos/DigitalPhto.png" alt="Digital India" style="height:50px;">
                    <img src="~/Photos/indian-gov.png" alt="data.gov.in" style="height:50px;">
                    <img src="~/Photos/Data-gov.png" alt="india.gov.in" style="height:50px;">
                    <img src="~/Photos/DigiLocker.png" alt="MeitY" style="height:50px;">
                    <img src="~/Photos/International.png" alt="PMINDIA" style="height:50px;">
                </div>

                <hr style="width:90%; border:1px dashed #ffffff33;">

                <p style="margin:10px 0;">
                    Site is technically designed, hosted and maintained by <b>National Informatics Centre</b><br>
                    Contents on this website are owned, updated and managed by the
                    <b>eService Delivery and Transformation Division (eSDT)</b><br>
                    <span style="font-weight:bold;">POWERED BY SERVICEPLUS</span>
                </p>
            </footer>

            <!-- /footer content -->
        </div>
    </div>




    <!-- jQuery -->
    <script src="~/gentela-pages/Page1/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap (Bootstrap 3 from Gentelella) -->
    <script src="~/gentela-pages/Page1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Other Gentelella scripts -->
    <script src="~/gentela-pages/Page1/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/gentela-pages/Page1/vendors/nprogress/nprogress.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/iCheck/icheck.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/skycons/skycons.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="~/gentela-pages/Page1/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/gentela-pages/Page1/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/flot.curvedlines/curvedLines.js"></script>
    <script src="~/gentela-pages/Page1/vendors/DateJS/build/date.js"></script>
    <script src="~/gentela-pages/Page1/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/gentela-pages/Page1/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/gentela-pages/Page1/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/gentela-pages/Page1/vendors/moment/min/moment.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/gentela-pages/Page1/build/js/custom.min.js"></script>

    <!-- External plugins (after Gentelella scripts) -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>




    <!-- Datatables -->
    <script src="~/gentela-pages/Page1/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/gentela-pages/Page1/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/pdfmake/build/vfs_fonts.js"></script>




    <!-- jQuery -->
    <!-- Bootstrap -->
    <!-- FastClick -->
    <!-- NProgress -->
    <!-- bootstrap-progressbar -->
    <!-- iCheck -->
    <!-- bootstrap-daterangepicker -->
    <!-- bootstrap-wysiwyg -->
    <script src="~/gentela-pages/Page1/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/gentela-pages/Page1/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/gentela-pages/Page1/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/gentela-pages/Page1/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/gentela-pages/Page1/vendors/select2/dist/js/select2.full.min.js"></script>

    <!-- Autosize -->
    <script src="~/gentela-pages/Page1/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/gentela-pages/Page1/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/gentela-pages/Page1/vendors/starrr/dist/starrr.js"></script>

    <!-- Initialize Tooltips -->
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


    <script src="~/js/_adminlayouttimershows/timershowsjs.js" asp-append-version="true"></script>


    <partial name="__NotificationsLayout"></partial>
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

