@using Microsoft.AspNetCore.Http;

@{

    int? userid = Context.Session.GetInt32(SD.KeyUser);
    int? roleid = Context.Session.GetInt32(SD.KeyRole);


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ✅ Keep ONLY Bootstrap 3.x from Gentelella -->
    <link href="~/gentela-pages/Page1/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/gentela-pages/Page1/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/gentela-pages/Page1/build/css/custom.min.css" rel="stylesheet">
    <link href="~/css/adminhomepagecss/adminhomepage.css" rel="stylesheet" />
    <!-- Optional icons / toastr -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />



  

    <!-- bootstrap-wysiwyg -->
    <link href="~/gentela-pages/Page1/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/gentela-pages/Page1/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/gentela-pages/Page1/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/gentela-pages/Page1/vendors/starrr/dist/starrr.css" rel="stylesheet">


</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container" style="background-color:#0171ae">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view" style="background-color:#0171ae">
                    <div class="navbar nav_title" style="border: 0; background-color:#54b8e3;">
                        <a asp-controller="Citizine" asp-action="Home" class="site_title"><i class="fa fa-paw"></i> <span style="color:#FFFFFF">Menu</span></a>
                    </div>

                    <div class="clearfix"></div>

                    



                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                           
                            <ul class="nav side-menu">

                                <li>
                                    <a style="color:#FFFFFF"><i class="fa fa-users"></i> Manage Profile <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" >
                                        <li style="color:#FFFFFF!important"><a href="form.html">View Profile(Citizen)</a></li>
                                        <li style="color:#FFFFFF"><a href="form_advanced.html">Edit Profile(Citizen)</a></li>
                                        <li style="color:#FFFFFF"><a href="form_validation.html">Change Password</a></li>
                                        <li style="color:#FFFFFF"><a href="form_wizards.html">Update eKYC</a></li>
                                        
                                    </ul>
                                </li>

                                <li>
                                    <a style ="color:#FFFFFF"><i class="fa fa-cogs"></i> Apply for services <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Citizine" asp-action="Index">Dashboard</a></li>
                                      
                                    </ul>
                                </li>
                                <li>
                                    <a style ="color:#FFFFFF"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Citizine" asp-action="Index">Dashboard</a></li>
                                      
                                    </ul>
                                </li>
                                <li>
                                    <a style="color:#FFFFFF"><i class="fa fa-edit"></i> Registration <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Citizine" asp-action="Registration">General Form</a></li>
                                     
                                    </ul>
                                </li>

                                

                            </ul>

                        </div>
                        <div class="menu_section">
                            <h3>Live On</h3>
                            <ul class="nav side-menu" style="color:#FFFFFF">
                              
                                <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout"  asp-controller="Login" asp-action="Index" >
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>



            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu" style="background-color:#0171ae">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars" style="color:ghostwhite"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right" style="color:white!important">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle " style="color:white!important" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/gentela-pages/Page1/production/images/img.jpg" alt="">John Doe
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a asp-controller="Login" asp-action="Index" ><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/gentela-pages/Page1/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/gentela-pages/Page1/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/gentela-pages/Page1/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="~/gentela-pages/Page1/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            @RenderBody()


            <!-- footer content -->
            <footer style="background-color:#004b80; color:white; text-align:center; padding:20px 0; border-top:2px solid #ccc;">
                <div style="display:flex; justify-content:center; align-items:center; gap:40px; flex-wrap:wrap; margin-bottom:15px;">
                    <img src="~/Photos/DigitalPhto.png" alt="Digital India" style="height:50px;">
                    <img src="~/Photos/indian-gov.png" alt="data.gov.in" style="height:50px;">
                    <img src="~/Photos/Data-gov.png" alt="india.gov.in" style="height:50px;">
                    <img src="~/Photos/DigiLocker.png" alt="MeitY" style="height:50px;">
                    <img src="~/Photos/International.png" alt="PMINDIA" style="height:50px;">
                </div>

                <hr style="width:90%; border:1px dashed #ffffff33;">

                <p style="margin:10px 0;">
                    Site is technically designed, hosted and maintained by <b>National Informatics Centre</b><br>
                    Contents on this website are owned, updated and managed by the
                    <b>eService Delivery and Transformation Division (eSDT)</b><br>
                    <span style="font-weight:bold;">POWERED BY SERVICEPLUS</span>
                </p>
            </footer>

            <!-- /footer content -->
        </div>
    </div>




    <!-- jQuery -->
    <script src="~/gentela-pages/Page1/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap (Bootstrap 3 from Gentelella) -->
    <script src="~/gentela-pages/Page1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Other Gentelella scripts -->
    <script src="~/gentela-pages/Page1/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/gentela-pages/Page1/vendors/nprogress/nprogress.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/iCheck/icheck.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/skycons/skycons.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/gentela-pages/Page1/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="~/gentela-pages/Page1/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/gentela-pages/Page1/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/flot.curvedlines/curvedLines.js"></script>
    <script src="~/gentela-pages/Page1/vendors/DateJS/build/date.js"></script>
    <script src="~/gentela-pages/Page1/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/gentela-pages/Page1/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/gentela-pages/Page1/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/gentela-pages/Page1/vendors/moment/min/moment.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/gentela-pages/Page1/build/js/custom.min.js"></script>

    <!-- External plugins (after Gentelella scripts) -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>



    <!-- jQuery -->
    <!-- Bootstrap -->
    <!-- FastClick -->
    <!-- NProgress -->
    <!-- bootstrap-progressbar -->
    <!-- iCheck -->
    <!-- bootstrap-daterangepicker -->
    <!-- bootstrap-wysiwyg -->
    <script src="~/gentela-pages/Page1/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/gentela-pages/Page1/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/gentela-pages/Page1/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/gentela-pages/Page1/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/gentela-pages/Page1/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/gentela-pages/Page1/vendors/select2/dist/js/select2.full.min.js"></script>
  
    <!-- Autosize -->
    <script src="~/gentela-pages/Page1/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/gentela-pages/Page1/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/gentela-pages/Page1/vendors/starrr/dist/starrr.js"></script>
   
    <!-- Initialize Tooltips -->
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


    <partial name="__NotificationsLayout"></partial>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

