@{
    ViewData["title"] = "Home Page";
}

<div class="right_col sudeep" role="main" style="background:#ffffff!important">
    <div class="fontfamilystyle">
        <div class="card marginrightside" >
            <div class="card-header bg-info text-white" style="border-top: 2px solid #007bff!important;font-style: revert-layer; font-weight: bold;color:black;">
                <h3 class="mb-0" >ABOUT SERVICE PLUS</h3>
            </div>
            <div class="card-body" style="margin-left:0px;margin-top:0px">
                <h1 class="fw-bold mt-4 mb-3" style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to Service Plus</h1>
                <p>
                    ServicePlus is a generic application to provide an electronic delivery for all the services
                    provided by The Government to The citizen. The Government of India, State Governments and Local
                    Governments are providing various services to benefit the citizens at Centre, State or Local
                    level primarily Government to Citizen (G2C) and Government to Business (G2B). The services provided
                    are either demand driven or mandated by the legislation. The services provided by Government can
                    be categorized as:
                </p>

                <ol>
                    <li>
                        <strong>Regulatory Services:</strong> Regulatory services are services like trade licence, permit
                        for construction of a building etc that can be denied by the Government.
                    </li>
                    <li>
                        <strong>Statutory Services:</strong> Statutory services are services like Issuance of Birth/Death
                        certificate which cannot be refused by Government.
                    </li>
                    <li>
                        <strong>Developmental Services:</strong> Developmental Services are services or schemes provided
                        by Government for the benefit of citizens like NREGS, IAY, Old age Pension etc.
                    </li>
                </ol>

                <h3 class="fw-bold mt-4 mb-3" style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">The following are the salient features of the software -</h3>
                <ol>
                    <li>Service(s) will be created online</li>
                    <li>Citizens will be submitting applications online</li>
                    <li>Service units will be able to receive application online</li>
                    <li>Service units will be able to verify documents and application fee online</li>
                    <li>Service units will be able to escalate application to some other person, in the case of absence of dealing authority, online</li>
                    <li>Citizens will be monitoring Application status online</li>
                    <li>Private Service Access Providers will be participating in the application receipt/submission and service delivery process online</li>
                </ol>

                <p class="fst-italic text-muted mt-3">
                    message.ekyc.add.mapping = Please add at least one mapping
                </p>
            </div>
        </div>
    </div>
</div>

