@{
    ViewData["title"] = "RoleList";
}
<div class="right_col" role="main">
    <div class="">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">RoleList Details</h2>
                    <table id="dataTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th> RoleName</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
</div>


@section Scripts{
    <script src="~/js/adminjs/rolelistjs.js" asp-append-version="true"></script>

}
