@{
    ViewData["title"] = "Yuvanidhi Application List";
}


<div class="right_col" role="main">
    <div class="">

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Student Details</h2>
                    <table id="dataTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Adhar Name</th>
                                <th>Dob</th>
                                <th>Gender</th>
                                <th>Photo</th>
                                <th>Address</th>
                                <th>Distinct</th>
                                <th>Taluk</th>
                                <th>Pincode</th>
                                <th>Course</th>
                                <th>Level</th>
                                <th>Passout year</th>
                                <th>university</th>
                                <th>Reg No</th>
                                <th>Domicile</th>
                                <th>Domicile Card No</th>
                                <th>Mobile No</th>
                                <th>Email</th>
                                <th>Category</th>
                                <th>Disability</th>
                             


                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->


    </div>
</div>



@section Scripts{
    <script src="~/js/adminjs/yuvanishiapplicationlistjs.js" asp-append-version="true"></script>
}